<template>
    <div>
        <div class="header-hero">
            <h2>{{ trans('jopcode.blog.title') }}</h2>
            <h4>{{ trans('jopcode.blog.subtitle') }}</h4>
            <!--<div class="category">
                <router-link v-for="category in categories" :key="category.id" :to="{name: 'ShowCategory', params:{'slug': category.slug}}" class="category-item">
                    {{category.name}}
                </router-link>
            </div>-->
        </div>                   
        <div class="blog-posts-grid">
            <div class="container">
                <div class="post" v-for="post in posts.data" :key="post.id">
                    <div class="bg" :style="{ 'background-image': 'url(storage/' + post.image + ')' }">
                    </div>
                    <router-link :to="{name: 'ShowPost', params:{'slug': post.slug}}" class="info">
                        <span class="title">{{ post.title }}</span>
                        <span class="author" v-if="post.author != null">{{ post.author.name}}</span>
                        <span class="date">{{ post.created_at }}</span>
                    </router-link>
                </div>
            </div>
        </div>
        <nav class="blog-pager">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-if="posts['prev_page_url']">
                    <a class="page-link" @click.prevent="getPreviousPage" href="#">&larr; Previous</a>
                </li>
                <li class="page-item" v-for=" n in posts['last_page']">
                    <a class="page-link" href="#" @click.prevent="getPage(n)">{{n}}</a>
                </li>

                <li class="page-item" v-if="posts['next_page_url']">
                    <a class="page-link" @click.prevent="getNextPage" href="#">Next &rarr;</a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
    import NProgress from 'nprogress'

    export default {
        data() {
            return {
                posts: [],
                categories:[]
            }
        },
        created: function() {
            document.title = 'JopCode ~ Blog'
            this.getPosts()
            this.getCategories()
        },
        updated() {
            NProgress.done();
        },
        methods: {
            getPosts() {
                let url = 'getposts';
                axios.get(url).then((response) => {
                    this.posts = response.data;
                })
            },
            getCategories() {
                let url = 'getcategories';
                axios.get(url).then(response => {
                    this.categories = response.data
                })
            },
            getPage(page) {
                let url = this.posts['path']+'?page=';
                axios.get(url+page).then((response) => {
                    this.$set(this.$data, 'posts', response.data);
                })
            },
            getPreviousPage() {
                axios.get(this.posts['last_page_url']).then((response) => {
                    this.$set(this.$data, 'posts', response.data);
                })
            },
            getNextPage() {
                axios.get(this.posts['next_page_url']).then((response) => {
                    this.$set(this.$data, 'posts', response.data);
                })
            }
        }
    }
</script>