<template>
    <div>
        <h3 class="title">
        Cotizar
      </h3>
      <div class="alts">
        <a href="#">
          <i class="ion-email"></i>
          jopcodecl@gmail.com
        </a>
        <a href="#">
          <i class="fa fa-phone"></i>
          +569 5441 56 74
        </a>
        <a href="#">
          <i class="fa fa-whatsapp"></i>
          +569 7245 43 62
        </a>
      </div>
      <div class="agency-contact-form">
        <div class="container">
          <form v-on:submit.prevent="sendEmail">
            <input type="text" placeholder="¿Como te llamas?" v-model="name"/>
            <input type="email" placeholder="¿Cual es tu E-mail?" v-model="from"/>
            <input type="text" placeholder="¿Cual es tu numero de telefono?" v-model="phone"/>
            <textarea placeholder="¡Tu mensaje!" rows="6" v-model="message"></textarea>
            <input type="submit" value="Enviar" />
          </form>
        </div>
      </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import toastr from 'toastr';
    
    export default {
        data () {
            return {
                from: '',
                name: '',
                phone: '',
                message: '',
            }
        },
        methods: {
            sendEmail: function() {
                var url = 'sendemail';
                axios.post(url, {
                    from: this.from,
                    name: this.name,
                    phone: this.phone,
                    message: this.message
                }).then(response => {
                    console.log(response.data);
                    toastr.success('¡Cotizacion enviada correctamente!');
                }).catch( error => {
                    console.log(error)
                    toastr.error('Error al enviar la cotizacion');
                });
            },
            since: function(d) {
                return moment(d).fromNow();
            },
            getIdeas: function() {
                var urlIdeas = 'mis-ideas';
                axios.get(urlIdeas).then(response => {
                    this.ideas = response.data
                });
            },
            createIdea: function() {
                var url = 'guardar-idea';
                
                axios.post(url,{
                    description: this.newIdea
                }).then(response => {
                    this.getIdeas();
                    this.newIdea = '';
                    toastr.success('Nueva idea guardada');
                }).catch(error => {
                    toastr.error('Error al guardar la idea!');
                });
            }
        }
    }
</script>
