<template>
    <div>

        <div class="agency-hero" :class="bannerHero" id="inicio">
            <section class="container">
                <div class="hero-text">
                    <h1 class="customFadeInUp">
                        DESARROLLO DE PÁGINAS WEB
                    </h1>
                    <p class="customFadeInUp">
                        Millones de personas han emprendido con su negocio hacia el internet.
                        <br> !Ya es hora de tu igual lo hagas!
                    </p>
                    <div class="actions customFadeInUp">
                        <br>
                        <a href="/#planes" class="btn btn-outline-light btn-lg">Ver Planes</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="customFadeInUp" id="planes">
            <div class="pricing-charts d-md-flex justify-content-center">
                <div class="chart"  v-for="pricing in pricings">
                    <header>
                        <div class="name"> {{ pricing.name }} </div>
                        <div class="price monthly active">
                            <span class="currency">$</span>
                            <span class="qty"> {{ pricing.price }} </span>
                            <br>
                            <span>Pago unico en dos cuotas</span>
                        </div>
                    </header>
                    <section class="features">
                        <div class="feature">
                            <strong>Diseño Profesional en HTML5 - CSS3 - JAVASCRIPT</strong>
                        </div>
                        <div class="feature" v-html="pricing.technology"></div>
                        <div class="feature" v-if="pricing.contentManage == '1'">
                            Sitio Completamente <strong>Autoadministrable</strong>
                        </div>
                        <div class="feature" v-else>
                            Sitio Web <strong>Estatico</strong>
                        </div>
                        <div class="feature" v-if="pricing.extra" v-html="pricing.extra"></div>
                        <div class="feature">
                            Cuentas de Correo Corporativas
                        </div>
                        <div class="feature">
                            Posicionamiento en Buscadores
                        </div>
                        <div class="feature">
                            <strong>Hosting y Dominio Gratis por 1 año</strong>
                        </div>
                        <div class="feature">
                            <em>Si ya dispones de Hosting y Dominio propio, consulta por tu descuento.</em>
                        </div>
                    </section>
                </div>
            </div>
            <br>
            <div class="text-center">
                <a href="#cotizar" class="btn btn-outline-success btn-lg">¡Cotizar Ahora!</a>
            </div>
        </div>
        <div class="pricing-features" id="cadaplan">
            <div class="container">
                <h2 class="title">
                    Los planes tambien incluyen
                </h2>
                <section class="features">
                    <div class="row">
                        <div class="col-md-4 feature">
                            <section>
                                <p>
                                <div class="list-group">
                <span href="#" class="list-group-item active">
                    Plan Economico
                  </span>
                                    <span class="list-group-item list-group-item-action">Dominio por un año</span>
                                    <span class="list-group-item list-group-item-action">Hosting por un año</span>
                                    <span class="list-group-item list-group-item-action">HTML5 / CSS3 / JAVASCRIPT</span>
                                    <span class="list-group-item list-group-item-action">Plan ideal para Microempresas / Emprendedores / Pymes</span>
                                    <span class="list-group-item list-group-item-action">Secciones ilimitadas</span>
                                    <span class="list-group-item list-group-item-action">Diseño responsive para computadores / smartphones / tablets / etc</span>
                                    <span class="list-group-item list-group-item-action">Integracion de redes sociales</span>
                                    <span class="list-group-item list-group-item-action">Mantencion
                    <strong>Gratis de por vida</strong>
                  </span>
                                    <span class="list-group-item list-group-item-action">Formulario de contacto</span>
                                    <span class="list-group-item list-group-item-action">SEO / Posicionamiento en buscares como Google, Bing, Yahoo</span>
                                </div>
                                </p>
                            </section>
                        </div>
                        <div class="col-md-4 feature">
                            <section>
                                <p>
                                <div class="list-group">
                <span href="#" class="list-group-item active">
                    Plan Autoadministrable
                  </span>
                                    <span class="list-group-item list-group-item-action">Dominio por un año</span>
                                    <span class="list-group-item list-group-item-action">Hosting por un año</span>
                                    <span class="list-group-item list-group-item-action">HTML5 / CSS3 / JAVASCRIPT / PHP / MYSQL</span>
                                    <span class="list-group-item list-group-item-action">Plan ideal para proyectos propios / blogs / sitios que requieran actualizacion constante</span>
                                    <span class="list-group-item list-group-item-action">Panel de administracion para gestionar el contenido</span>
                                    <span class="list-group-item list-group-item-action">Secciones ilimitadas</span>
                                    <span class="list-group-item list-group-item-action">Diseño responsive para computadores / smartphones / tablets / etc</span>
                                    <span class="list-group-item list-group-item-action">Integracion de redes sociales</span>
                                    <span class="list-group-item list-group-item-action">Mantencion
                    <strong>Gratis de por vida</strong>
                  </span>
                                    <span class="list-group-item list-group-item-action">Formulario de contacto</span>
                                    <span class="list-group-item list-group-item-action">SEO / Posicionamiento en buscares como Google, Bing, Yahoo</span>
                                </div>
                                </p>
                            </section>
                        </div>
                        <div class="col-md-4 feature">
                            <section>
                                <p>
                                <div class="list-group">
                <span href="#" class="list-group-item active">
                    Plan Tienda On-line
                  </span>
                                    <span class="list-group-item list-group-item-action">Dominio por un año</span>
                                    <span class="list-group-item list-group-item-action">Hosting por un año</span>
                                    <span class="list-group-item list-group-item-action">HTML5 / CSS3 / JAVASCRIPT / PHP / MYSQL</span>
                                    <span class="list-group-item list-group-item-action">Opcion de usar PrestaShop / Wordpress / eCommerce</span>
                                    <span class="list-group-item list-group-item-action">Plan ideal para Tiendas On-line / Catalogo de productos / Ventas On-line</span>
                                    <span class="list-group-item list-group-item-action">Implementacion de sistemas de pago como PagoFacil, WebPay, PuntoPagos</span>
                                    <span class="list-group-item list-group-item-action">Panel de administracion para gestionar el contenido</span>
                                    <span class="list-group-item list-group-item-action">Secciones ilimitadas</span>
                                    <span class="list-group-item list-group-item-action">Diseño responsive para computadores / smartphones / tablets / etc</span>
                                    <span class="list-group-item list-group-item-action">Integracion de redes sociales</span>
                                    <span class="list-group-item list-group-item-action">Mantencion
                    <strong>Gratis de por vida</strong>
                  </span>
                                    <span class="list-group-item list-group-item-action">Formulario de contacto</span>
                                    <span class="list-group-item list-group-item-action">SEO / Posicionamiento en buscares como Google, Bing, Yahoo</span>
                                </div>
                                </p>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="pricing-charts-faqs" id="comotrabajamos">
            <div class="container">
                <div class="faq-icon">
                    <i class="ion-help"></i>
                </div>
                <h3 class="title">
                    Nuestra forma de trabajar
                </h3>
                <div class="row">
                    <div class="col-md-6 faq" v-for="ourjob in ourjobs">
                        <strong>
                            {{ ourjob.title }}
                        </strong>
                        <p v-html="ourjob.description ">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-charts-doubts" id="cotizar">
            <div class="container">
                <contact></contact>
            </div>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
<script>
    import axios from 'axios';
    document.title = 'JopCode ~ Páginas Web Económicas ~ Sitios web económicos';
    export default {
        data() {
            return {
                pricings: [],
                ourjobs: [],
                bannerHero: this.getRandomBanner(),
            }
        }
        ,
        created: function() {
            this.getPricings();
            this.getOurJobs();
        },
        methods: {
            getPricings() {
              let url = 'gethomedata';
              axios.get(url).then((response) => {
                  this.pricings = response.data.pricings;
              })
            },
            getOurJobs() {
                let url = 'gethomedata';
                axios.get(url).then((response) => {
                    this.ourjobs = response.data.ourjobs;
                })
            },
            getRandomBanner () {
                let banners = [
                    'first-banner',
                    'second-banner',
                    'third-banner',
                ];

                return banners[Math.floor(Math.random() * Math.floor(3))];
            }

        }
    }
</script>