<template>
    <div>
        <div class="header-hero" :class="headerColor">
            <h2>Seguridad Ofensiva</h2>
            <h4>{{this.$route.params.slug}}</h4>
        </div>


        <div class="blog-posts-grid">
            <div class="container">
                <div class="post" v-for="post in posts.posts">
                    <div class="bg" :style="{ 'background-image': 'url(' + post.image + ')' }">
                    </div>
                    <router-link :to="{name: 'ShowPost', params:{'slug': post.slug}}" class="info">
                        <span class="title">{{ post.title }}</span>
                        <span class="author">{{ post.author.name}}</span>
                        <span class="date">{{ post.created_at }}</span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NProgress from "nprogress";


export default {
    data() {
        return {
            posts: [],
            headerColor: this.randomHeroColor()
        }
    },
    updated: function() {
        NProgress.done();        
    },
    created: function() {
        this.getCategoryPosts()
    },
    methods: {
        getCategoryPosts() {
            let url = '/getcategoryposts/'
            axios.get(url+this.$route.params.slug).then(response => {
                this.posts = response.data[0]
            })
        },
        randomHeroColor() {
            let colorClass = [
                'header-hero-wind',
                'header-hero-fire',
                'header-hero-wood',
                'header-hero-isop'
            ];
            return colorClass[Math.floor(Math.random() * Math.floor(4))];

        }
    }
}
</script>