<template>
    <div class="container blog-container">
        <div v-for="p in post">
            
            <div v-if="loggedin">
                <b-dropdown id="ddown-dropup" dropup variant="info" class="m-2" no-caret>
                    <template slot="button-content">
                        <i class="fa fa-gear"></i>
                    </template>
                    <b-dropdown-item :href="'/admin/posts/'+p.id+'/edit'">Editar</b-dropdown-item>
                </b-dropdown>
            </div>
            <div class="blog-post-3-hero" :style="{ 'background-image': 'url(/storage/' + p.image + ')' }">
                <h1 class="customFadeInUp mx-auto">
                    {{ p.title }}
                </h1>
                <div class="blog-post-share">
                    <a href="#" class="twitter">
                        <i class="ion-social-twitter"></i><span>Tweet</span>
                    </a>
                    <a href="#" class="facebook">
                        <i class="ion-social-facebook"></i><span>Share</span>
                    </a>
                    <a href="#" class="email">
                        <i class="ion-email"></i><span>Email</span>
                    </a>
                    <a href="#" class="linkedin">
                        <i class="ion-social-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="blog-post-3">
                 <div class="blog-post-header container">
                        <div class="blog-post-author">
                            {{ trans('jopcode.blog.by') }} <span>{{ p.author.name }}</span>
                        </div>
                        <div class="blog-post-author-image">
                            <img :src="'/storage/'+p.author.avatar">
                        </div>
                        <div class="blog-post-date">
                            {{ trans('jopcode.blog.date') }} <span>{{ formatDate(p.created_at) }} </span>
                        </div>
                    </div>
                <div class="container">
                    <div ref="mycontent" class="blog-post-content" v-html="p.body">
                    </div>                    
                </div>
            </div>
            <div class="bg-white blog-random-container">
            <!--<b-container>
                <b-row>
                    <b-col col sm="12" class="blog-random-title">
                        <h2>Articulos Relacionados</h2>
                    </b-col>
                    <b-col col sm="4" class="blog-random-post" v-for="post in randomPost" :key="post.id">
                        <div class="head">
                            <router-link :to="{name: 'ShowPost', params:{'slug': post.slug}}" >
                                <div class="image" :style="{ 'background-image': 'url(' + post.image + ')' }">
                                </div>
                            </router-link>
                        </div>
                        <div class="body">
                            <router-link :to="{name: 'ShowPost', params:{'slug': post.slug}}">
                                <div class="title"><h2>{{post.title}}</h2></div>
                            </router-link>
                            <div class="info">
                                <div class="date">
                                    {{formatDate(post.created_at)}}
                                </div>
                                <div class="category" >
                                    <router-link :to="{name: 'ShowCategory', params:{'slug': post.category.slug}}" class="info">
                                        {{post.category.name}}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </b-container>-->
            </div>
            <div class="container comments">
                <vue-disqus shortname="jopcode" :identifier="p.slug" :url="url"></vue-disqus>
            </div>
        </div>
    </div>
</template>

<script>
import bDropdown from "bootstrap-vue/es/components/dropdown/dropdown";
import NProgress from "nprogress";
import * as moment from 'moment';


import "../prismjs.js";

export default {
  data() {
    return {
      post: [],
      loggedin: "",
      isLoading: true,
      randomPost: [],
      url: "http://localhost:8000" + this.$route.fullPath
    };
  },
  created: function() {
    this.getPost();
    this.haslogggedin();
    this.getRandomPost();
  },
  updated: function() {
    NProgress.done();
    this.$nextTick(function() {
      let editor = document.querySelector("pre code");
      Prism.highlightElement(editor);
    });
  },
  methods: {
    getPost() {
      let url = "/getpost/";
      axios.get(url + this.$route.params.slug).then(response => {
        this.post = response.data;
        this.setHeaderTags(this.post);
      });
    },
    getRandomPost() {
      let url = "/getrandompost/";
      axios.get(url).then(response => {
        this.randomPost = response.data;
      });
    },
    haslogggedin() {
      let url = "/hasloggedin";
      axios.get(url).then(response => {
        if (response.data) {
          this.loggedin = response.data;
        }
      });
    },
    formatDate(date) {
        return moment(date).format('ll');
    }
  }
};
</script>