/* GLobal */
body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
h2 {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Varela Round',sans-serif;
  font-weight: 400;
}
/* Blog */
.blog-container {
  background-color: #fff;
  padding: 0;
  box-shadow: 0px 0px 1px rgb(85,85,85);
}
.header-hero,
.blog-post-3-hero  {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  flex-flow: column wrap;
}
.blog-post-3-hero {
  height: 60vh;
}
.header-hero h2,
.blog-post-3-hero h1 {
  width: auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: #272a33;
  text-transform: uppercase;
  z-index: 1;
}
.blog-post-3-hero h1 {
  color: #fafafa;
}
.header-hero h2:after {
  display: block;
  content: "";
  width: 50%;
  height: 2px;
  margin: 0 auto;
  background-color: #778B96;
  margin-top: 10px;
}
.header-hero h2 {
  margin-bottom: 10px;
}
.header-hero h4 {
  text-transform: uppercase;
  font-size: 15px;
}
a.category-item:hover {
  color: #292929;
}

a.category-item {
  padding: 0 10px;
  color: #bababa;
}
/* Blog action */
#ddown-dropup {
  position: fixed!important;
  right: 0;
  z-index: 9;
}
#ddown-dropup > .btn.btn-info,
#ddown-dropup > .dropdown-menu.show,
#ddown-dropup > .dropdown-menu.show a:hover,
#ddown-dropup > .dropdown-menu.show a:focus {
  background: var(--gray-dark);
  border-color: var(--gray-dark);
}
#ddown-dropup > .btn.btn-info:hover i {
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}
#ddown-dropup > .dropdown-menu.show {
  transform: translate3d(-95%, 0px, 0px)!important;
  padding: .5rem 0 .46rem;
}
#ddown-dropup > .dropdown-menu.show a {
  padding: 0 1.5rem;
  color: #fff;
}
#ddown-dropup > .dropdown-menu.show a:hover {
  font-weight: bold;
}
.blog-posts-grid .post .info .title {
  width: 90%;
}
/* Blog share */
.blog-post-share {
  z-index:9;
  display: flex;
  margin-top:20px;
}
.blog-post-share a {
  margin: 0;
  top: 0;
  min-width: 120px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  margin-right: 8px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;
  justify-content: center;
}
.blog-post-share a:hover {
  opacity: .8;
  top: -4px;
}
.blog-post-share a i {
  height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    color: #fff!important;
    font-size: 16px!important;
    margin: 0;
}
.blog-post-share a span {
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #fff;
  display: fñex;
  font-weight: 500;
  letter-spacing: 0.5px;
  min-width: 60px;
  opacity: 1;
  padding: 0 6px;
  position: relative;
  vertical-align: top;
}
.blog-post-share a.twitter {
  background-color: #55acee;
}
.blog-post-share a.facebook {
  background-color: #3B5998;
}
.blog-post-share a.email {
  background-color: #7d7d7d;
}
.blog-post-share a.linkedin {
  min-width: 50px;
  background-color: #0077b5;
}
.blog-post-header {
 display: flex;
 flex-flow: row;
}
.blog-post-author {
  width: 25%;
}
.blog-post-date {
  width: 25%;
  text-align: right;
}
.blog-post-content h2{
  text-transform: uppercase;
}
/* Blog Author Image */
.blog-post-author-image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.blog-post-author-image img{
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative;
  background:#f9f9f9;
  padding: 5px;
  box-shadow: 0px 0px 1px #000;
  margin-top: -80px;

}
/* Blog random entries*/
.blog-random-post .head {
  margin: 0 10px;
  filter: grayscale(1);
  transition: all .5s;
  transform: scale3d(1, 1, 1);
}
.blog-random-post .head .image {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-random-post .info {
  opacity: 0;
  transition: all .5s;
  display: flex;
  flex-flow: row wrap;
}
.blog-random-post .info .category {
  margin-left: auto;
}
.blog-random-post .info .category a{
  color: #000;
}
.blog-random-post:hover .info {
  opacity: 1;
}
.blog-random-post:hover .head,
.blog-random-post:hover .title h2
 {
  color:#000;
  filter: grayscale(0);
  transform: scale3d(1.15, 1.15, 1.15);
}
.blog-random-post .head .image:hover:after {
  background-color: transparent;
}
.blog-random-post .body{
  position: absolute;
  top:0;
  margin: 0 20px;
}
.blog-random-post .title h2 {
  transform: scale3d(1,1,1,1);
  font-size: 14px;
  word-wrap: wrap;
  transition: all 1s;
}
.blog-random-title {
  margin: 20px 0;
  text-align: center;
}
.blog-random-container {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* Nav */
navbar-dark {
  background-color: #272a33!important;
  max-height: 54px;
}
.navbar-dark .nav-item .nav-link {
  color:#778B96;
  text-transform: uppercase;
  font-family: Myriad Pro, Lato, Helvetica Neue, Arial
}



/* Loading */

#nprogress {
  background-color: #F07260;
  font-size: 64px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
.loading-overlay {
  position: absolute;
  transform: translate(-50%, -50%);
}

.spinner {
  position: relative;
}
.spinner:before, .spinner:after {
  content: "";
  position: relative;
  display: block;
}
.spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  background-color: #fff;
}
.spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  height: .25em;
  border-radius: 50%;
  background-color: rgba(#000,0.2);
}

/* Keyframes */
@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(#000,0.1);
  }
}
@keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
@-webkit-keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}