body{
	margin: 0px;
	font-family: 'poppins-regular';
}
ul,ol{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
a,a:hover,a:focus{
	outline: none;
}
/*------Typography--------*/
@font-face {
	font-family: 'poppins-regular';
	 src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins-Regular.woff') format('woff'),
	url('../fonts/Poppins-Regular.ttf')  format('truetype'),
	url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0px;
	padding: 0px;
}
a,a:hover,a:focus{
	text-decoration: none;
}
p{
	font-family: 'poppins-regular';
	font-size: 16px;
	color: #8e8e8e;
	line-height: 25px;
}
h5{

}
h6 {
	color: #2f2f2f;
	font-family: "Poppins",sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 58px;
}
/*-------Transition css--------*/
.team_member_info,
.pagination_inner_area li a ,
.team_member_hover_content ul li a svg,
.team_member_info > p,
.portfolio_menu ul li,
.team_member_hover_content,
.portfolio_hover_content_inner a h5,
.main_menu ul li::before{
	-moz-transition: all .40s linear;
	-webkit-transition: all .40s linear;
	transition: all .40s linear;
}
/*----Common section------*/
.section_padding{
	padding-top: 100px;
	padding-bottom: 100px;
}
.section_padding_bottom{
	padding-bottom: 100px;
}
/*-----Section Title-------*/

.section_title h2 svg {
    fill: #eeeeee;
    margin-right: 3px;
    vertical-align: middle;
    width: 47px;
}
.section_title.type2 h2{
	color: #2f2f2f;
}
.section_title.type2 h2 svg{
	fill: #26bdef;
}
.section_title h2 {
	color: #fff;
	font-family: "Poppins",sans-serif;
	font-size: 38px;
	font-weight: 700;
	padding-bottom: 13px;
	vertical-align: middle;
}
.section_title h2 span {
    color: #26bdef;
}
.section_title {
    padding-bottom: 70px;
    padding-top: 94px;
    text-align: center;
}
.section_title > p {
    color: #a9a9a9;
    padding-left: 100px;
    padding-right: 100px;
}
/*---------Alignment Classes----------*/
.align_center{
	text-align: center;
}
.align-right {
	text-align: right;
}
/*-----All margin padding classes-----*/
.section_padding_bottom{
	padding-bottom: 100px;
}
/*--------border css--------*/
.bbm1{
	border-bottom: 1px solid #eeeeee;
}
/*-------Color Classes---------*/
.white_bg{
	background: #fff;
}
/*-----Button Css-----*/
.giant_btn2 {
    background: #0b0c0f none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    padding-left: 23px;
    padding-right: 23px;
}

.giant_btn2:hover {
  color: #eee;
}

.giant_btn2 svg {
	display: inline-block;
	fill: #fff;
	height: 13px;
	margin-left: 5px;
	margin-top: 23px;
	vertical-align: top;
	width: 15px;
}

/* preloader */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
}

.preloader-content {
	left: 50%;
	margin-left: -25px;
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -25px;
}
/* preloader */
/*===================================================
			==Resset Css==
===================================================*/

/*===================================================
			==Style css==
===================================================*/

/*-------------------------------------------
		==Start main menu container==
------------------------------------------*/

/*--------------------------------
		==Start Header==
--------------------------------*/
.header-area {
	position: absolute;
	width: 100%;
	z-index: 3;
}

.mainmenu_area {
	text-align: right;
}

.mainmenu a {
	color: #eee;
	display: block;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 100px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.mainmenu a:hover {
	font-weight: 500;
}
.mainmenu li.active a {
	font-weight: 500;
}

.mainmenu li {
	display: inline-block;
	margin: 0px 24px;
	position: relative;
}

.mainmenu li:last-child {
	margin-right: 0;
}

nav.mainmenu {
	display: inline-block !important;
}

.navbar_left {
	display: inline-block;
}

.header_logo {
	line-height: 100px;
}

.search_icon > a {
	line-height: 100px;
	padding-left: 39px;
	display: block;
}
.navbar_left:hover .search_icon_hover{
	transform: scaleY(1);
}
.search_icon_hover {
	position: absolute;
	right: 0;
	top: 100%;
	transform: scaleY(0);
	transform-origin:top;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.search_icon_hover input {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #f2f2f2;
	color: #eee;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	display: inline-block;
}
.search_icon_hover button {
	border: 1px solid #f2f2f2;
	color: #242424;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: -4.5px;
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
.search_icon > a i {
	color: #ccc;
	font-size: 16px;
}
.dropdown {
	background: rgba(11, 12, 15, 0.99) none repeat scroll 0 0;
	left: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	transform: scaleY(0);
	transform-origin: center top 0;
	transition: all 0.5s ease 0s;
	width: 200px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}
.dropdown li {
	display: block;
}
.dropdown > li > a {
	color: #ccc;
	font-weight: 600;
	line-height: 50px;
	text-transform: capitalize;
}
.mainmenu li:hover .dropdown {
	transform: scaleY(1);
}
.mobile-menu{
	display: none;
}
/*--------------------------------
		==End Header==
--------------------------------*/

/*--------------------------------
		==Start Banner==
--------------------------------*/
.banner_area {
	background: url(../img/banner/blog-banner.jpg) no-repeat scroll 0 0/cover;
	text-align: center;
	height: 455px;
	position: relative;
}

.banner_area:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11, 12, 15, 0.95);
}

.banner_content {
	display: table;
	height: 100%;
	position: relative;
	z-index: 2;
	padding: 0px 36px;
	padding-top: 55px;
}

.banner_area .container,
.banner_area .container .row,
.banner_area .container .row .col-md-8 {
	height: 100%;
}

.banner_cell {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #a9a9a9;
	font-weight: 400;
	line-height: 27px;
}

.banner_cell h2 {
	color: #fff;
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 31px;
}
/*--------------------------------
		== End Banner ==
--------------------------------*/

/*--------------------------------
		== Start Breadcumb Area ==
--------------------------------*/
.breadcrumb_area {
	background: rgba(0, 0, 0, 0) url("../img/banner/blog-banner.jpg") no-repeat scroll 0 0 / cover ;
	height: 328px;
	position: relative;
	padding: 175px 0 0;
}
.breadcrumb_area:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11, 12, 15, 0.95);
	content: "";
}
.breadcrumb_inner_area {
	position: relative;
	z-index: 2;
	text-align: center;
}
.breadcrumb_area h2 {
	color: #fff;
	font-size: 34px;
	font-weight: 600;
}
/*--------------------------------
		== Breadcumb Area ==
--------------------------------*/

.about_us_mission_vision ul li {
    background: #2f2f2f none repeat scroll 0 0;
    display: inline-block;
    float: none;
    margin-right: -4px;
    vertical-align: top;
    width: 50%;
}
.about_us_mission_vision_inner_container {
    padding: 78px 70px 71px 32px;
    width: 570px;
}
.about_us_mission_vision ul li:first-child {
    background: #26bdef none repeat scroll 0 0;
    text-align: right;
}
.about .section_title h2 svg {
	fill: #26bdef;
}
.about .section_title h2{
	color: #26bdef;
}
.about .section_title h2 span {
  color: #2f2f2f;
}
.about_us_mission_vision ul li:first-child .about_us_mission_vision_inner_container {
    float: right;
    text-align: left;
}
.about_us_mission_vision_inner_container > p {
    color: #a9a9a9;
    font-size: 16px;
}
.about_us_mission_vision_inner_container > h5 {
    color: #26bdef;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 30px;
}
.about_us_mission_vision ul li:first-child .about_us_mission_vision_inner_container h5 {
    color: #2f2f2f;
}
.about_us_mission_vision ul li:first-child .about_us_mission_vision_inner_container p {
    color: #545454;
}

.single_member_container_area {
	padding-bottom: 100px;
}
/*-------------------------------
		==News and Blog==
--------------------------------*/
.sidebar {
	background: #fafafa none repeat scroll 0 0;
	border: 2px solid #f2f2f2;
	margin-top: -26px;
	padding-left: 29px;
	padding-right: 29px;
	padding-top: 95px;
	margin-bottom: 100px;
}
.single_blog_content_container {
	margin-top: -26px;
}
.bog_area{
	padding-bottom: 70px;
}
.blog_image {
    align-self: flex-start;
    float: left;
    width: 50%;
}
.blog_content {
    background: #26bdef none repeat scroll 0 0;
    float: left;
    margin-left: 15px;
    padding: 45px 60px 39px 42px;
    width: calc(50% - 15px);
}
article {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.home4 article {
	display: block;
}
.home4 .pagination_container {
	padding-bottom: 100px;
}
article:nth-child(2) .blog_image {
    left: calc(50% + 15px);
    position: relative;
}
article:nth-child(2) .blog_content {
    left: calc(-50% - 15px);
    position: relative;
}

.blog_body svg {
    display: inline-block;
    fill: #fff;
    height: 20px;
    margin-top: 17px;
    width: 27px;
}
.blog_title a h5 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}
.blog_title > span {
    color: #eeeeee;
    display: inline-block;
    font-size: 13px;
    line-height: 36px;
}
.blog_body > p {
    color: #eeeeee;
    line-height: 26px;
}
.blog_title {
    padding-bottom: 5px;
}
.home5 .blog_content_container {
  width: 50%;
}
.home5 .blog_image_container {
  width: 50%;
}
.home5 article:nth-child(2n) .blog_content_container {
  left: calc(-50% - 15px);
}
.home5 article:nth-child(2n) .blog_image_container {
  left: calc(50% + 15px);
}
.home5 .pagination_container {
	padding-bottom: 100px;
}
/*--------Blog Page----------*/
.single_blog_content_container  article {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.home4 .single_blog_content_container  article {
	display: block;
	margin-bottom: 100px;
}
.blog_image_container {
    width: 35%;
}
.home4 .blog_image_container {
	margin-bottom: 30px;
	width: 100%;
}
.home4 .blog_content_container {
	width: 100%;
	margin-left: 0px;
}
.home4 article:nth-child(2n) .blog_content_container {
	left: 0;
	position: relative;
}
.home4 article:nth-child(2n) .blog_image_container {
	left: 0;
	position: relative;
}
.blog_content_container {
	background: #242424;
	margin-left: 30px;
	padding: 41px 40px 37px 46px;
	width: calc(65% - 30px);
	border: 1px solid #838383;
}
.home3 .blog_content_container {
  padding: 34px 36px;
}
.home3 .pagination_container {
  margin-bottom: 100px;
}
.single_blog_btn a svg {
    height: 20px;
    width: 20px;
}
.single_blog_social ul li a svg {
    height: 20px;
    width: 20px;
}
.single_blog_social ul li {
    display: inline-block;
}
.single_blog_social {
    display: inline-block;
    float: right;
}
.single_blog_btn {
    display: inline-block;
}

.single_blog_content_body {
}
.blog_page_title a h5 {
    color: #f4f4f4;
    font-family: "Poppins",sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.blog_page_title > span {
    color: #eeeeee;
    display: inline-block;
    font-size: 13px;
    line-height: 37px;
}
.single_blog_content_body p {
	color: #eeeeee;
	font-size: 16px;
	padding-bottom: 27px;
}
.blog_page_title {
    padding-bottom: 4px;
}

.single_blog_social ul li a svg {
    fill: #eeeeee;
    height: 13px;
    margin-right: 5px;
    vertical-align: top;
    width: 14px;
}
.single_blog_social a {
    color: #eeeeee;
    font-size: 12px;
    vertical-align: top;
}
.single_blog_social ul li:last-child {
    margin-right: 0;
}
.single_blog_btn a svg {
    fill: #fff;
    height: 17px;
    width: 23px;
}
article:nth-child(2n) .blog_content_container {
	left: calc(-35% - 30px);
	position: relative;
}
article:nth-child(2n) .blog_image_container {
	left: 65%;
	position: relative;
}
.single_blog_content_container article:last-child{
	margin-bottom: 0;
}
/*----------Single Blog Page----------*/

.single_blog_page_title > h4 {
    color: #2f2f2f;
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.blog_post_time {
    color: #a9a9a9;
    display: inline-block;
    font-size: 13px;
    padding-top: 40px;
}
.single_blog_page_title {
    padding-top: 68px;
}
.single_blog_page_title .single_blog_social ul li a svg {
    fill: #8e8e8e;
}
.single_blog_page_content_body {
    padding-top: 37px;
}
.single_blog_page_content_body ul li p {
    line-height: 28px;
}
.single_blog_page_content_body blockquote {
	border-left: 0 none;
	font-size: 18px;
	margin: 0;
	padding-bottom: 41px;
	padding-left: 60px;
	padding-top: 41px;
	padding-right: 0px;
}
.single_blog_page_content_body li:nth-child(3) {
    padding-bottom: 14px;
}

.single_blog_page_content_body li {
	position: relative;
}
.quote {
	position: absolute;
	top: 30px;
}
.single_blog_page_title .single_blog_social a {
	color: #8e8e8e;
	font-size: 12px;
	vertical-align: top;
}
.single_blog_page_title .single_blog_social {
	display: inline-block;
	float: right;
	padding-top: 37px;
}

.single_blog_use_content li {
    display: inline-block;
    margin-right: 4px;
}
.single_blog_use_content li a svg {
    fill: #fff;
    height: 14px;
    width: 14px;
}
.single_blog_image {
    display: inline-block;
    vertical-align: top;
}
.single_blog_use_content {
    background: #242424 none repeat scroll 0 0;
    display: inline-block;
    padding-left: 40px;
    padding-top: 28px;
    width: calc(100% - 201px);
}
.single_blog_user_container {
	background: #242424 none repeat scroll 0 0;
	margin-top: 71px;
	padding-bottom: 34px;
	padding-top: 34px;
}
.single_blog_image {
    padding-left: 36px;
}
.single_blog_use_content > p {
    color: #8e8e8e;
    line-height: 27px;
}
.single_blog_use_content h5 {
    color: #a9a9a9;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 17px;
    text-transform: uppercase;
}
.single_blog_use_content > ul {
    display: inline-block;
    padding-top: 20px;
}

.single-blog .sidebar {
  margin-top: 100px;
}
/*-----related post---------*/
.related_post .blog_content_container {
	margin-left: 0;
}
.related_post .blog_content_container {
	width: 100%;
}

.section_title5 > h4 {
    color: #2f2f2f;
    font-family: "Poppins",sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.section_title5 {
    padding-bottom: 75px;
    padding-top: 90px;
}

.related_post_slider .owl-prev, .owl-next {
    display: inline-block;
}
.related_post_slider .owl-nav {
    padding-top: 100px;
    text-align: center;
}
.related_post_slider .owl-prev {
    margin-right: 30px;
}
/*--------BLog User comments----------*/
.blog-portion-title{}
.blog-portion-title h5 {
	color: #1b1b1b;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.single-blog-user-commnet-content{}
.single-blog-user-commnet-content {
	padding-bottom: 70px;
}
.single-blog-user-commnet-content ul{}
.single-blog-user-commnet-content ul li {
	border-bottom: 1px solid #f3f3f3;
	float: none;
	overflow: hidden;
	padding-bottom: 27px;
	padding-top: 34px;
}
.single-blog-user-commnet-content ul li:last-child {
	border-bottom: 0 none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.single-blog-user-commnet-content ul li:nth-child(even){
	padding-left: 90px;
}
.single-blog-user-commnet-content ul li:nth-child(even) p{}
.single-blog-user-commnet-content ul li .blog-user-image {
	float: left;
	margin-right: 25px;
}
.single-blog-user-commnet-content ul li .blog-user-comment-body {
	display: table;
	overflow: hidden;
}
.blog-user-comment-body .blog-user-commnet-body-top {
	float: none;
	overflow: hidden;
	padding-bottom: 17px;
}
.blog-user-comment-body .single-blog-user-info {
	float: left;
}
.blog-user-comment-body .single-blog-user-info{}
.blog-user-comment-body .single-blog-user-info h5 {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}
.blog-user-comment-body .single-blog-user-info h5 span {
	color: #b9b9b9;
	display: inline-block;
	font-size: 14px;
	font-family: 'poppins-regular';
	padding-left: 6px;
}
.blog-user-comment-body .single-blog-user-reply {
	float: right;
}
.blog-user-comment-body .single-blog-user-reply a {
	color: #27ae61;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.blog-user-comment-body-bottom {
	float: none;
}
.blog-user-comment-body-bottom p {
	color: #8e8e8e;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.01px;
	line-height: 24px;
}
.single-blog-user-reply svg {
	fill: #666;
	height: 18px;
	width: 18px;
}
/*--------Blog reply box-----------*/

.single_reply_box > input {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    line-height: 52px;
    padding-left: 15px;
    width: 100%;
}
.single_reply_box {
    margin-bottom: 15px;
}
.single_reply_box textarea {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    height: 126px;
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
	resize: none;
}
.single_reply_box .business_btn {
    border: 0 none;
    float: right;
    margin-top: 24px;
}
.contact_field .single_reply_box .business_btn{
	text-align: center;
	float: none;
}
/*-----------------------------------
		==Start Google map==
-----------------------------------*/
.map_hoverable_content_inner ul > li > span {
	color: #0b0c0f;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
	text-transform: uppercase;
	display: block;
}

.map_hoverable_content_inner ul li h6 {
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
}
.map_hoverable_content_inner ul li h6 span {
	display: block;
	font-size: 14px;
	font-weight: 400;
	font-family: 'poppins-regular';
}

#contactgoogleMap{
	height: 400px;
	width: 100%;
}
.map_hoverable_content_inner li {
	margin-bottom: 50px;
}
.contact .single_reply_box textarea {
	height: 220px;
}
.contact .single_reply_box .business_btn {
	margin-top: 40px;
}
.contact_title h4 {
	font-size: 24px;
	font-weight: 800;
	color: #2f2f2f;
	margin-bottom: 58px;
}
.map_hoverable_content .social_icon ul li a i {
	color: #0b0c0f;
}
.hello{
	top: 150px !important;
}
#contactgoogleMap div{
	transition: all .5s linear;
}
.hello > div:first-child > div:last-child {
	background-color: #0b0c0f !important;
}
.hello > div:first-child > div:nth-child(3) > div:first-child > div {
	background-color: #0b0c0f !important;
}
.hello > div:first-child > div:nth-child(3) > div:last-child > div {
	background-color: #0b0c0f !important;
}
.gm-style .gm-style-iw {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  color: #fff;
  font-family: "poppins-regular";
}
/*--------------------------------
		==Error page content==
--------------------------------*/
.error_container{
	padding-bottom: 100px;
	padding-top: 110px;
}
.error_page_content h1 {
    color: #0b0c0f;
    font-family: "Poppins",sans-serif;
    font-size: 172px;
    font-weight: 600;
    display: inline-block;
    position: relative;
}
.error_middle_content {
    text-align: center;
}
.error_middle_content span {
	display: inline-block;
	position: relative;
	z-index: -2;
}
.error_middle_content img {
    left: 53px;
    position: absolute;
    top: -31px;
    z-index: -1;
}

.error_middle_content > p {
    padding-bottom: 41px;
    padding-top: 40px;
}
.error_middle_content .business_btn {
  padding-left: 40px;
  padding-right: 40px;
}

/*--------------------------------
		==Error page content==
--------------------------------*/

/*------------------------------
	==Blog Sidebar==
------------------------------*/

.sidebar_widget_title svg {
    fill: #26bdef;
    height: 35px;
    margin-right: 5px;
    vertical-align: middle;
    width: 30px;
}
.sidebar_widget_title {
    color: #2f2f2f;
    font-family: "Poppins",sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.categories_widget ul li {
    float: none;
}
.categories_widget ul li span {
    float: right;
}
.categories_widget ul li a {
    color: #8e8e8e;
    display: block;
    font-size: 16px;
    line-height: 35px;
}
.categories_widget {
    padding-bottom: 79px;
    padding-top: 60px;
}
.recent_post ul li {
    float: none;
}
.recent_post ul li .recent_post_image {
    display: inline-block;
}
.recnet_post_content {
    display: inline-block;
    padding-left: 15px;
    padding-top: 32px;
    vertical-align: top;
}
.recnet_post_content > a {
    color: #666666;
    display: inline-block;
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.recnet_post_content p span {
    color: #b9b9b9;
    display: inline-block;
    font-size: 13px;
    line-height: 31px;
}
.recent_post ul li {
    margin-bottom: 10px;
}
.recent_post ul li:last-child {
    margin-bottom: 0;
}
.instagram_post a {
	display: inline-block;
	height: 96px;
	width: 96px;
	padding: 3px;
	margin-bottom: 5px;
}
.instagram-middle img {
	width: 100%;
}
.recent_post {
    padding-bottom: 96px;
    padding-top: 66px;
}
.instagram_post {
	padding-bottom: 80px;
	padding-top: 60px;
}

.newsletter_post input {
    border: 1px solid #e7e7e7;
    color: #a9a9a9;
    font-size: 14px;
    line-height: 58px;
    padding-left: 20px;
    width: 100%;
}
.newsletter_post .business_btn {
    border: 0 none;
    border-radius: 0;
    line-height: 54px;
    margin-top: 13px;
}
.newsletter_post {
    padding-bottom: 91px;
    padding-top: 63px;
}
.tags_post > a {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	color: #a9a9a9;
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
	margin-bottom: 7px;
	padding-left: 16px;
	padding-right: 16px;
	transition: all 0.3s ease 0s;
}
.tags_post > a:hover {
	border: 1px solid #666;
	color: #666;
}
.tags_post {
    padding-bottom: 100px;
    padding-top: 59px;
}
.recnet_post_content a:hover h4 {
    color: #242424;
}
.categories_widget ul li a:hover {
	color: #242424;
}
/*---------------------------------
		==Start Pagination==
---------------------------------*/

.pagination_inner_area ul li {
    display: inline-block;
    margin-right: 11px;
    text-align: center;
}
.pagination_inner_area li a {
    background: #eeeeee none repeat scroll 0 0;
    color: #8e8e8e;
    display: block;
    font-size: 14px;
    line-height: 33px;
    padding-left: 15px;
    padding-right: 15px;
}
.pagination_inner_area li:first-child a, .pagination_inner_area li:last-child a {
    background: transparent none repeat scroll 0 0;
    padding-left: 0;
    padding-right: 0;
}
.pagination_inner_area > ul {
    display: inline-block;
}
.pagination_inner_area {
	padding-top: 100px;
	text-align: center;
}
.pagination_inner_area ul li:hover a {
    background: #242424 none repeat scroll 0 0;
    color: #fff;
}
.pagination_inner_area li:last-child:hover a, .pagination_inner_area li:first-child:hover a {
    background: transparent none repeat scroll 0 0;
}

.blog_image_container > img {
	width: 100%;
}
/*-------------------------------
		==footer==
-------------------------------*/
.footer_area{
	background: url(../img/footer/footer_bg1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.footer_area::before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(8,8,8,.97);
}
.footer_top{
	padding: 95px 0px;
}
.social_icon.footer_icon{}
.social_icon.footer_icon ul li svg{
	fill: #26bdef;
}
.social_icon.footer_icon ul li{
	line-height: 0px;
}

.footer_widget_content {
	color: #a8a8a8;
	font-size: 16px;
	padding-bottom: 26px;
	padding-top: 25px;
}

.social_icon ul li a i {
	color: #eee;
	font-size: 20px;
}

.widget_title {
    color: #eee;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.widget_body {
	padding-top: 46px;
}
.quick_link ul li {
    float: none;
}
.quick_link ul li a {
	color: #b9b9b9;
	font-size: 14px;
	line-height: 30px;
}
.footer_partner ul li a {
	color: #b9b9b9;
	font-size: 14px;
	line-height: 30px;
}

.footer_contact ul li span svg {
    fill: #26bdef;
    height: 17px;
    width: 17px;
}
.footer_contact ul li {
    color: #b9b9b9;
    font-size: 13px;
    line-height: 33px;
}
.footer_contact ul li span {
    display: inline-block;
    padding-right: 6px;
}
.business_btn {
    background: #242424 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    position: relative;
    font-weight: 600;
    line-height: 52px;
    padding-left: 22px;
    overflow: hidden;
    padding-right: 22px;
    transition: all .40s linear;
    z-index: 9;
}
.business_btn::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #242424;
	z-index: -1;
}
.business_btn:hover{
	color: #fff;
}
.business_btn:hover::before{
	animation: slideInDown .40s linear;
	-webkit-animation: slideInDown .40s linear;
	-moz-animation: slideInDown .40s linear;
}
.footer_contact ul li:last-child {
    padding-top: 24px;
}
.footer_bottom{
	text-align: center;
}

.footer_bottom_inner li {
	color: #b9b9b9;
	display: inline-block;
	font-size: 13px;
	padding-left: 17px;
	padding-right: 17px;
	position: relative;
}
.footer_bottom_inner li::after {
    background: #8b8b8b none repeat scroll 0 0;
    content: "";
    height: 13px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
}
.footer_bottom_inner li:nth-child(2)::after {
    display: none;
}
.footer_bottom_inner li a {
	color: #b9b9b9;
}
.social_icon.footer_icon a {
	display: block;
	padding-right: 30px;
}
.social_icon.footer_icon ul li {
	display: inline-block;
	line-height: 0;
}
.footer_widget .recent_post_image > img {
	width: 100%;
}
.footer_widget .recnet_post_content {
	vertical-align: middle;
	padding-top: 0px;
}
.footer_widget .recent_post {
	padding-top: 31px;
	padding-bottom: 0px;
}
.footer_widget .recnet_post_content a h4 {
	color: #fff;
	font-size: 16px;
}
.brand_logo {
	padding: 80px 0 0;
}
.footer_bottom_inner:after {
	position: absolute;
	content: "";
	left: -70px;
	top: 0;
	width: calc(100% + 140px);
	height: 1px;
	background: #282828;
}

.footer_bottom_inner {
	display: inline-block;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
}
/*===================================================
			==Style css==
===================================================*/

/*--------Companny History-------------*/

.companny_history h4 {
    color: #2f2f2f;
    font-family: "Poppins",sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.companny_history ul li {
    float: none;
}
.companny_history ul li p {
    color: #8e8e8e;
    font-size: 16px;
    line-height: 26px;
}
.companny_history ul li:first-child {
    margin-bottom: 22px;
}
.companny_history h4 {
    padding-bottom: 46px;
}
.companny_history > ul {
	padding-bottom: 55px;
}
.companny_history{
	position: relative;
}

.companny_history img {
    border: 10px solid #fff;
    box-shadow: 0 13px 29px rgba(0, 0, 0, 0.07);
    left: calc(100% + 60px);
    position: absolute;
}
.history_img2 {
	left: calc(100% + 300px) !important;
	top: 164px;
}
.companny_history {
	padding-bottom: 53px;
	padding-top: 49px;
}
.history_img1{
	z-index: 9;
	
	transition-delay: .30s;
}
.history_img1:hover{
	z-index: -1;
}
.history_img2{
	z-index: 1;
	
	transition-delay: .30s;
}

/*------Single Team Member container----*/

.single_team_member_content_title > h3 {
    color: #0b0c0f;
    font-family: "Poppins",sans-serif;
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 7px;
}
.single_team_member_content_title > span {
    color: #666666;
    font-size: 16px;
}
.single_team_member_content_body ul li svg {
    fill: #f0f0f0;
    height: 43px;
    position: absolute;
    top: -20px;
    width: 43px;
    z-index: -1;
}
.single_team_member_content_body li {
    color: #8e8e8e;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 18px;
    position: relative;
}
.single_team_member_content_body li path {
}
.single_team_member_image {
    display: inline-block;
    vertical-align: top;
}
.single_team_member_content {
    display: inline-block;
    padding-left: 30px;
    width: calc(100% - 368px);
}
.single_member_content_soccial ul li {
    display: inline-block;
    margin-right: 20px;
}
.single_member_content_soccial ul li a svg {
	fill: #8e8e8e;
	height: 27px;
}
.single_member_content_soccial {
    padding-top: 28px;
}
.single_team_member_content_body {
    padding-top: 50px;
}
.team_page_team_section .signle_team_member_container {
	margin-bottom: 130px;
	position: relative;
}
.team_member_area.team_page_team_section {
	padding-bottom: 18px;
}
