<template>
    <div>
        <b-navbar toggleable="md" type="dark" variant="info" sticky fixed="top">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

            <b-navbar-brand href="/"><img src="/images/logo.png" alt="jopcode"></b-navbar-brand>

            <b-collapse is-nav id="nav_collapse">

                <b-navbar-nav>
                    <b-nav-item href="/" active>{{ trans('jopcode.menu.home')}}</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">

                    <!--<b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
                        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                    </b-nav-form>-->

                    <b-nav-item-dropdown right :text="trans('jopcode.lang')">
                        <b-dropdown-item href="/lang/en">EN</b-dropdown-item>
                        <b-dropdown-item href="/lang/es">ES</b-dropdown-item>
                    </b-nav-item-dropdown>

                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
        
        <div> 
            <router-view></router-view>
        </div>
        <footer id="footer" class="footer-big-menu">
            <div class="container">
                <span class="bottom">© 2018 JopCode, Sitio construido con Laravel - Vuejs - BootStrap 4.</span>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
    }
</script>